@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

/*---------- Init ----------*/


*{
    padding: 0;

}
body {
    background-color: #000;
}

/*---------- Logo ----------*/

.myLogo {
    padding: 0;
    border: 0;
    height: 175px;
}

.myLogo h1 {
    font-family: 'Luckiest Guy', sans-serif;
    color: #e1ad01;
    font-size: 6em;
    letter-spacing: 4px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0;
    margin: 0;
    
}
.myLogo p {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #e1ad01;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 0;
    right: 2em;
}

/*---------- Header Image ----------*/

.heroImage1 {
    height: 600px;
    width: 100%;
    background: url('../images/two-mugs.jpg') no-repeat center center; 
    background-size:  cover;
    z-index: -1;
}

 .opacityLayer {
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} 

/*---------- NavBar ----------*/

.myNavBar a {
    font-family: 'Luckiest Guy', sans-serif;
    color: #e1ad01;
    text-decoration: none;
}


.myNavBar {
    padding-top: 80px;
    padding-right: 0;
}

.myNavBar li {
    font-size: 1.5em;
    padding-right: 1em;
}

.cafeSlogan p {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: #e1ad01;
    padding-top: 20px;
    text-align: center;

}
.menuName h3 {
    font-family: 'luckiest guy', sans-serif;
    font-size: 3em;
    color: #e1ad01;
    text-align: center;
    padding-top: 50px;
}


.menuBorder {
    border: 1px solid #e1ad01;
    height: 750px;
    width: 90%;
    margin: 0 auto;
}
.meat h4, .veg h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color:#e1ad01;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.meat p, .veg p {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01ef;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: lowercase;

}
.meat h5, .veg h5 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    text-align: center;
}

/* .......specialBoard..........  */

.specialBoardText {
   max-width: 50%;
   margin: auto 0;
   margin-left: 3em;
   margin-right: 0;
   font-family: 'Oswald', sans-serif;
   color: #e1ad01;


}

.specialBoardText h1, h5, p {
    text-align: center;

}

.specialBoardText h1 { 
    padding-bottom: 30px;
}

.specialBoardText h5, p {
    letter-spacing: 2px;
}

.specialImage {
    max-width: 375px;
    height: 250px;
    background: url('../images/special_panini.jpg') no-repeat;   
    z-index: -1; 
    margin: 50px 0;
    border-radius: 30px;
}

.pageSplitter {
    background-color: #e1ad01;
    width: 80%;
    margin: 50px auto;
}

.gallery h1 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    text-align: center;
}   

/* ..........pictures for photo gallery .............................. */

.foodPic1 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 300px;
    background: url('../images/panino_sack2.jpg') no-repeat center center;
}

.foodPic2 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100px;
    height: 300px;
    background: url('../images/five-doughnuts.jpg')no-repeat center center;
}

.foodPic3 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 300px;
    background: url('../images/baguette-bread.jpg') no-repeat center center;
}

.cafePic1 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 300px;
    /* background: url('../images/panino_sack2.jpg') no-repeat center center; */
}

.cafePic2 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 300px;
    /* background: url('../images/baguette-bread.jpg') no-repeat center center; */
}

.cafePic3 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 300px;
    /* background: url('../images/five-doughnuts.jpg') no-repeat center center; */
}