@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

/*---------- Init ----------*/


*{
    padding: 0;
    margin: 0;

}
body {
    background-color: #000;
}

.container {
    text-align: center;
}

/*---------- Logo ----------*/

.myLogo {
    padding: 0;
    border: 0;
    /* width: 50%; */
}

.myLogo h1 {
    font-family: 'Luckiest Guy', sans-serif;
    color: #e1ad01;
    font-size: 4em;
    letter-spacing: 4px;
    padding-top: 50px;
    padding-bottom: 0;
    margin: 0;
    
}
.myLogo p {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #e1ad01;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    /* text-align: center; */
}

/*---------- Header Image ----------*/

#hero {
    padding: 0;
    margin: 0;
}

.heroImage {
    height: 600px;
    width: 100%;
    background: url('../images/two-mugs.jpg') no-repeat center center; 
    background-size: cover;
    z-index: -1;
    /* margin-top: 20px; */
    margin: 0;
    padding: 0;
}

 .opacityLayer {
    top: 0;
    left: 0;
    /* height: 600px; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} 

/*---------- NavBar ----------*/

.myNavBar a {
    font-family: 'Luckiest Guy', sans-serif;
    color: #e1ad01 !important;
    text-decoration: none;
    font-size: 1.5em;
}

.myNavBar a:hover {
    color: #e1ad016f !important;
}

.myNavBar {
    padding-top: 50px;
    text-align: left;
    width: 50%;
}

.myNavBar li {
    padding-right: 1em;
    padding-left: 0;
}


/* .......cafe slogan ...........*/

.cafeSlogan p {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: #e1ad01;
    padding-top: 20px;
    text-align: center;

}

/* ...........the sandwich menu .............*/

.menuName h2 {
    font-family: 'luckiest guy', sans-serif;
    font-size: 4em;
    color: #e1ad01;
    text-align: center;
    padding-top: 50px;
}


.menuBorder {
    border: 1px solid #e1ad01;
    /* height: 750px; */
    width: 90%;
    margin: 0 auto;
}

.meat h4, .veg h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color:#e1ad01;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.meat p, .veg p {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01ef;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.meat h5, .veg h5 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    text-align: center;
}

/* .......specialBoard..........  */

.specialBoard {
    padding: 0;
    margin: 0;
}

.specialBoardText {
   max-width: 50%;
   margin: auto 0;
   margin-left: 3em;
   margin-right: 0;
   font-family: 'Oswald', sans-serif;
   color: #e1ad01;
   
}

.specialBoardText h1, h5, p {
    text-align: center;
}

.specialBoardText h1 { 
    padding-bottom: 30px;
}

.specialBoardText h1, h5 {
    text-transform: uppercase;
}

.specialBoardText h5, p {
    font-size: 1.2em;
    letter-spacing: 2px;
}
.specialBoardText p {
    color: #e1ad01ef;
}

.specialImage {
    max-width: 375px;
    height: 250px;
    background: url('../images/special_panini.jpg') no-repeat;   
    z-index: -1; 
    margin: 50px 0;
    border-radius: 30px;
    border: 1px solid #ffc402;
}

.pageSplitter {
    background-color: #e1ad01;
    width: 80%;
    margin: 100px auto;
}

.gallery h1 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    font-size: 4em;
    text-align: center;
    padding-bottom: 1em;
}   

/* ..........pictures for photo gallery .............................. */

.foodPic1 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 400px;
    background: url('../images/panino_sack2.jpg') no-repeat center right;
    transform: scaleX(-1);
}

.foodPic2 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 400px;
    background: url('../images/five-doughnuts.jpg') no-repeat center center;
}

.foodPic3 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 400px;
    background: url('../images/baguette-bread.jpg') no-repeat center center;
}

.cafePic1 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 400px;
    background: url('../images/woman-inside.jpg') no-repeat center center;
    transform: scaleX(-1);
}

.cafePic2 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 400px;
    background: url('../images/coffee-bar.jpg') no-repeat center center;
}

.cafePic3 {
    border: 1px solid #e1ad01;
    width: 100%;
    height: 400px;
    background: url('../images/coffee-maker.jpg') no-repeat center center;
}

.foodPic4 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100%;
    height: 400px;
    background: url('../images/egg-sandwich.jpg') no-repeat center center;
}

.foodPic5 {
    border: 1px solid #e1ad01;
    background-size: cover;
    width: 100px;
    height: 400px;
    background: url('../images/sandwich-sticks.jpg') no-repeat center right;
}

.foodPic6 {
    border: 1px solid #e1ad01;
    background-size: contain;
    width: 100%;
    height: 400px;
    background: url('../images/veggy_ciabatta.jpg') no-repeat center center;
}

/* ....... customer reviews section ............*/

.reviewsHeader h1 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    font-size: 4em;
    text-align: center;
}

.reviewsHeader h3 {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01;
    font-size: 2em;
    text-align: center;
}

.reviews {
    padding-top: 100px;
}

.customerPic1 {
    width: 120px;
    height: 120px;
    border: 1px solid #e1ad01ef;
    background: url('../images/woman1.jpg') no-repeat center right;
}

.customerPic2 {
    width: 120px;
    height: 120px;
    border: 1px solid #e1ad01ef;
    background: url('../images/man1.jpg') no-repeat center center;
}

.customerPic3 {
    width: 120px;
    height: 120px;
    border: 1px solid #e1ad01ef;
    background: url('../images/man2.jpg') no-repeat top right;
}

.customerPic4 {
    width: 120px;
    height: 120px;
    border: 1px solid #e1ad01ef;
    background: url('../images/woman2.jpg') no-repeat top right;
}

.review {
    background:rgba(225, 173, 1, 0.3);
}

.review p {
    height: 104px;
    font-family: 'Oswald', sans-serif;
    color: #ffc402;
    font-size: 1.2em;
    text-align: center;
}

/* ...........form.................. */

.bookings h1 {
    text-align: center;
    padding-bottom: 25px; 
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    color:#e1ad01;
}

/* style form labels and fields */

#fname, #email, #phone, #submit {
    width: 100%;
    letter-spacing: .25em;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #000;
    padding: 5px;
}

.inputLabel {
    font-size: 1.4em;
    font-family: 'Oswald', sans-serif;
    color:#e1ad01;
    margin: 0;
    margin-left: 10px;
}

#submit {
    width: 25%;
    margin-top: 30px;
    padding: 5px;
}

/*..... form icons ......*/

.fa-user-alt,
.fa-envelope,
.fa-phone-square-alt {
    line-height: 1.4em;
    color: #e1ad01;
}

/* ....... end of form ................ */

/*......... contact section ..............*/

.h1_resized {
    font-family: 'Luckiest Guy', sans-serif;
    color: #e1ad01;
    text-align: center;
    letter-spacing: 3px;

}
.locationHours {
    /* display: block; */
}

.streetMap {
    display: block;
    border: 2px solid #ffc402;
    margin: 0 auto 30px auto;


}

.locAdd p, .opening p {
    font-family: 'Oswald', sans-serif;
    color: #e1ad01; 
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
}

.locAdd, .opening {
    /* padding-top: 20px; */
}

.social ul {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 3em;
    color: #e1ad01;
    margin: 20px;
}

.copyRight {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #e1ad01;
}

/* ......... media queries *..............*/

@media screen and (max-width: 1424px) {
    .myLogo h1 {
        color: rgb(0, 0, 128);
        font-size: 3em; 
    }  

    .navbar a {
        font-size: 1em;
    } 
}

@media screen and (max-width: 800px) {
    .navbar a {
        /* text-align: center;  */
        font-size: 0.8em;
        
    }
    .myNavBar li {
        padding-right: 0.3em;
        padding-left: 0;
    } 

    .myLogo h1 {
        color: rgb(241, 11, 80);
        font-size: 2em;
        
    }  
}  

@media screen and (max-width: 800px) {
    
}