*{
    padding: 0;

}

.heroImage1 {
    width: 100%;
    height: 600px;
    background: url('../images/couple.jpg') no-repeat;
}

.heroImage2 {
    width: 100%;
    height: 600px;
    background: url('../images/open.jpg') no-repeat;
}
.heroImage3 {
    width: 100%;
    height: 600px;
    background: url('../images/two-mugs.jpg') no-repeat;
}